* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 20px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    margin: 15px 0;
    color: #0088ff;
}

.App {
    width: 1000px;
    margin-top: 30px;
}

.post__btns {
    display: flex;
}

/* CSSTransition */
.post-enter {
    transform: translateX(150px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: opacity 300ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-150px);
    transition: opacity 300ms ease-in;
}

.page__wrapper {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.page {
    background: black;
    color: white;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: rgba(0, 128, 255, 0.84);
}

.navbar__links {
    margin-left: auto;
}

.navbar__item {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-width: 600;
    font-size: 20px;
}
